<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletOrigen</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletOrigen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDestino</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletInicioViaje</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletInicioViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSeleccionVuelo</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletSeleccionVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPasajeros</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletPasajeros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletOrigen</servlet-name>
        <url-pattern>/servletOrigen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDestino</servlet-name>
        <url-pattern>/servletDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletInicioViaje</servlet-name>
        <url-pattern>/servletInicioViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSeleccionVuelo</servlet-name>
        <url-pattern>/servletSeleccionVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPasajeros</servlet-name>
        <url-pattern>/servletPasajeros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
