<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servletOrigen</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletOrigen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletDestino</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletDestino</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletInicioViaje</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletInicioViaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletSeleccionVuelo</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletSeleccionVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPasajeroServicio</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletPasajeroServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletRevisionServicios</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletRevisionServicios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletCliente</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletLogin</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletPago</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletOrigenDestino</servlet-name>
        <servlet-class>FlyFunPackage.CONTROLLER.servletOrigenDestino</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletOrigen</servlet-name>
        <url-pattern>/servletOrigen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletDestino</servlet-name>
        <url-pattern>/servletDestino</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletInicioViaje</servlet-name>
        <url-pattern>/servletInicioViaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletSeleccionVuelo</servlet-name>
        <url-pattern>/servletSeleccionVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPasajeroServicio</servlet-name>
        <url-pattern>/servletPasajeroServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletRevisionServicios</servlet-name>
        <url-pattern>/servletRevisionServicios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletCliente</servlet-name>
        <url-pattern>/servletCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletLogin</servlet-name>
        <url-pattern>/servletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletPago</servlet-name>
        <url-pattern>/servletPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletOrigenDestino</servlet-name>
        <url-pattern>/servletOrigenDestino</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
