/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-feb-2016, 12:01:12
    Author     : Coconut
*/

/*inicioviaje.jsp*/


/*seleccionvuelo.jsp*/

.seleccionado{
    color:#4A148C;
    background-color:#68efad;
    transition: 500ms;
}

.header-vuelo, .header-asiento, .header-finproceso{
    float: left;
    margin: 5px;
    margin-top: 10px;
    color:#4A148C;
    text-align: center;
    width: calc(100% - 10px);
    font-size: 1.4em;
}

.btn-volver{
    background-color: #68efad;
    color:#4A148C;
    padding: 10px;
    width: 22%;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.oferta-vuelo{
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.separador{
    height: 1px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(204, 204, 204, 0.6);
}

/*pasajero.jsp*/

.serv-ida>label, .serv-vuelta>label, .title-pasajero{
    margin-bottom: 10px;
    font-size: 1.1em!important;
    font-variant-caps: small-caps;
    color:#4A148C;
}

.formulario-pasajero{
    margin-bottom: 10px;
}

.contenedor-pasajeros{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 470px;
}
/*revisionservicios.jsp*/
.seat, .seatV{
    color:#4A148C;
}


/*checkin.jsp*/
.check-in{text-align: center;}

.check-in>input{
    width: 180px;
}

/*pago.jsp*/

.pago{
    display:none;
}

/*fin proceso*/

.fin-proceso{
    margin-top: 55px;
    width: 400px;
    height: 70px;
    background-color: #DBD5DC;
    float:left;
    margin-left: calc((100% - 400px) / 2 );
    text-align: center;
}

.fin-proceso>span{
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.fin-proceso>button{
    float:left;
}

.ico, .msj-fin-proeso{
    float:left;
}

.ico{
    margin-left: 25%;
    margin-top: 15px;
    
}

.msj-fin-proeso{
    position: relative;
    top: 10px;
    width: 150px;
    margin-left: 20px;;
}

.fa-check-square-o{
    color: white;
}